<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/Normalize.css" >
    <link rel="stylesheet" href="../static/css/Estilos.css" >
</head>
        <!--Topo-->
    <hr class="linha"></hr>
    <header class="topo">
        
        <img src="../static/image/Logo.png" alt="Logo">
        <nav>
            <ol>
                <il><a href="/">Home</a> |</il>
                <il><a href="/quemsomos">Quem somos</a> |</il>
                <il><a href="/contato">Contato</a></il>
            </ol>
        </nav>
    </header>
    <body>
    {%block content%}{%endblock%}
    <h3 class="baixo">Todos os direitos reservados</h3>
    </body>

</html>