{%extends 'base.html'%}
   {%block content%}
    <!--Topo-->
    <!--Meio-->
        <div class="corpo">
            <h2>Entre em contato</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores ratione libero aliquam! </p>
            <hr>
            <form class="quest">
                Seu e-mail:<br>
                <input type="text" name="Seu e-mail" size="20"><br>
                Assunto:<br>
                <input type="text" name="Assunto" size="20"><br>
                Descrição:<br>
                <textarea rows="2" cols="21"></textarea>
                <div>
                    <input type="submit" value="Enviar">
                </div> 
            </form>
        </div>
    <!--Meio-->



{%endblock%}