{%extends 'base.html'%}
   {%block content%}
   

        <!--Meio-->
    
        
        <div class="img">
            <img src="../static/image/Capa.png" alt="Capa">
        </div>
        <div class="corpo">
            <h1>
                Sobre a universidade
            </h1>
            <p>
                Lorem <strong>ipsum dolor</strong> sit amet, consectetur adipisicing elit. Suscipit fuga animi, assumenda veniam rerum maiores expedita explicabo nisi, quos perferendis dolores voluptatum consequatur facere? Id hic blanditiis ratione voluptates tempore. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam quas, a molestias iure numquam placeat nihil itaque tempore dignissimos quibusdam nesciunt temporibus cumque vel vitae et assumenda officia suscipit beatae!
            </p>
            <p>
                Lorem <strong>ipsum dolor</strong> sit amet consectetur adipisicing elit. Quis placeat nobis ad fugit nemo voluptas magni similique sequi eum repudiandae aperiam, perferendis quaerat numquam nostrum veniam quas! Doloribus, accusamus laboriosam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi pariatur illo architecto soluta! Vitae, eveniet? Eveniet iusto minima fugiat dolorem accusantium, excepturi animi quos exercitationem sit et quis magni deleniti.
            </p>
        </div>  
        
    
        <!--Meio-->
        <!--Baixo-->

        <!--Baixo-->
{%endblock%}
