{%extends 'base.html'%}
   {%block content%}
    <!--Topo-->
    <!--Meio-->
    <div class="corpo">
        <h1>Quem Somos</h1>
        <p>
            Lorem <strong>ipsum dolor</strong> sit amet, consectetur adipisicing elit. Deleniti laboriosam dolor, quis velit dicta reprehenderit odit! Assumenda quaerat ipsam voluptates recusandae doloremque quibusdam, fugit quia consectetur! Deleniti in recusandae et. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim non recusandae pariatur quas. Doloremque iure perspiciatis delectus vitae quo minima, fugiat soluta excepturi, enim deserunt ullam? Delectus distinctio ab voluptatem? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti magni suscipit totam impedit cumque dignissimos! Natus culpa itaque alias adipisci reprehenderit provident neque magni sunt, sint molestiae dicta rem eveniet.
        </p>
        <h1>5 motivos para estudar</h1>
            <ol>
                <li>Material sempre atualizado</li>
                <li>Tablets em sala de aula</li>
                <li>Professores renomados</li>
                <li>Universidade bem avaliada</li>
                <li>Ótima localização</li>
            </ol>
        <hr>
        <h1>Objetivos</h1>
        <p>
            Lorem <strong>ipsum dolor</strong> sit amet consectetur adipisicing elit. Error consequuntur aperiam, debitis dicta quam tempore mollitia delectus porro vitae? Debitis doloremque sit ab quas odit necessitatibus earum sunt velit deleniti. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum eos ad voluptatibus dolorem. Quis excepturi deleniti commodi nam rem pariatur perspiciatis atque dolores blanditiis. Accusantium error provident deserunt corporis rerum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, non? Error facilis fugit illo, nam quos tempore? Distinctio qui, delectus ut vel voluptas iste, nam, repellat harum nisi nihil praesentium?
        </p>
    </div>

{%endblock%}